.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    position: relative;
    background-color: grey;
}

.video {
    margin-top: 0px;
    border: 1px solid #ccc;
    width: 100%; 
    height: 100%;
    object-fit: cover;
}

.videoRecorded {
    position: absolute;
    margin-top: 0px; 
    border: 1px solid #ccc;
    width: 500px; 
    height: 500px;
}

.button {
    position: absolute;
    z-index: 1;
    padding: 10px 20px;
    background-color: rgba(0,  0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buttonClose {
    position: absolute;
    z-index: 1;
    padding: 10px 20px;
    background-color: rgba(0,  0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 100px;
}

.buttonRecord {
    position: absolute;
    z-index: 1;
    padding: 10px 20px;
    background-color: rgba(0,  0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 200px;
}

.buttonRecordClose {
    position: absolute;
    z-index: 1;
    padding: 10px 20px;
    background-color: rgba(0,  0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 300px;
}

.buttonRecordReset {
    position: absolute;
    z-index: 1;
    padding: 10px 20px;
    background-color: rgba(0,  0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 400px;
}

.error {
    position: absolute;
    top: 120px; 
    z-index: 10;
    padding: 10px;
    background-color: rgba(0,  0, 0, 0.5);
    color: white;
    border-radius: 5px;
    width: 200px; 
    text-align: center;
}